body{
  margin: 0;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

h1 {
  margin-top: 0;
}

nav {
  background: #222;
  padding: 1rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

nav a:hover {
  color: #ffcb05;
}

nav button {
  background: #ffcb05;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

nav button:hover {
  background: #f0b800;
}

.poke-search {
  padding: 0.6rem;
  width: 260px;
  border-radius: 8xp;
  border: 1px solid #bbb;
  margin-bottom: 1rem;
  transition: ease-in-out 0.2s;
}

.poke-search:hover {
  box-shadow: 0 0 5px rgba(255, 149, 149, 1);
}

.pokemon-item {
  background: white;
  border-radius: 12px;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.pokemon-left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pokemon-left strong {
  font-size: 1.1rem
}

.pokemon-item img {
  image-rendering: pixelated;
}

.star-btn{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.pagination{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination button {
  background: #ffcb05;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.pagination button:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
}

@keyframes shimmer {
  0%{
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}